.aboutme{
    background-color: var(--section-color);
}

.aboutme__text{
    max-width: 480px;
    margin: 0 auto;
    padding-bottom: 107px;
}

.aboutme__title{
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 120px 0 18px;
}

.aboutme__desc{
    text-align: center;
    font-size: 18px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}